.buttonContainer {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(109, 19, 145, 0.37);
    backdrop-filter: blur(8.5px);
    color: white;
    flex: 1;
    margin: 4px;
    border-radius: 25px;
    cursor: pointer;
}

.buttonContainer:active {
    background-color: lightskyblue;
}