.mainContainer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(141, 4, 168, 0.37);
    backdrop-filter: blur(8.5px);
    border-radius: 10px;
}

.calcContainer{
    width: 400px;
    border-radius: 16px;
}
.row {
    display: flex;
}